* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.logo_img{
  width: 48px;
  height: 30px;
  background-repeat: no-repeat;
  opacity: 1;
  position: relative;
  top: 2px;
  left: 10px;
  overflow: hidden;
}
.v116_2669 {
  width: 100%;
  height: 700px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


.v116_2670 {
  width: 334px;
  height: 665px;
  background: rgba(242,249,255,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  right: 0px;
  overflow: hidden;
}
.v116_2671 {
  width: 100%;
  height: 35px;
  background: rgba(149,199,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v116_2672 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 65px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v116_2673 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 500px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
#demo {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  bottom: 5px;
  left: 500px;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v116_2674 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  right: 170px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}



.s1 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 1300px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.s2 {
  width: 228px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 247px;
  left: 1300px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.s3 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 364px;
  left: 1300px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.s4 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 481px;
  left: 1300px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v116_2709 {
  width: 188px;
  height: 40px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 618px;
  left: 1270px;
  border: 2px solid rgba(219,219,219,1);
  overflow: hidden;
}


.v148_319 {
  width: 35px;
  height: 30px;
  background: url("../images/v148_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 1094px;
  overflow: hidden;
}
.v116_2712 {
  width: 30px;
  height: 30px;
  background: rgba(0,135,250,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 240px;
  border-radius: 50%;
}
.v148_303 {
  width: 34px;
  height: 33px;
  background: url("../images/v148_303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 1230px;
  overflow: hidden;
}
.v116_2700 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(174,174,174,1);
}

.v148_304 {
  width: 34px;
  height: 33px;
  background: url("../images/v148_304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 1230px;
  overflow: hidden;
}
.v116_2702 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(174,174,174,1);
}

.v148_305 {
  width: 34px;
  height: 33px;
  background: url("../images/v148_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 1230px;
  overflow: hidden;
}
.v116_2704 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(174,174,174,1);
}

.v148_306 {
  width: 34px;
  height: 33px;
  background: url("../images/v148_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 1230px;
  overflow: hidden;
}
.v116_2708 {
  width: 34px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(174,174,174,1);
}
