<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="/static/css/serviceAgreement.css" rel="stylesheet" />
    <title>Document</title>
  </head>

  <body>
    <div class="v116_21">
      <form action="{% url 'Soseapp:survey' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
      <input class="v116_22"type='submit' value = "Next!"></input>
      <div class="v128_12">
        <div class="v116_24"> <img class = logo_img src="/static/images/logo_topbar.png"> </div>
        <span class="v116_25"> Service Agreement</span>
      </div>
      <textarea class="textBox">1   General Provisions
1.1   So.se develops and publishes a website (“Games”) that can be accessed from the World Wide Web and provides services related to the Games (“Services”).
1.2   The Games are only offered to consumers in terms of § 13 of the German Civil Code (BGB), i.e. natural persons who conclude a legal transaction for purposes which can predominantly neither be attributed to their commercial nor their self-employed professional activity.
1.3   All Games made by Se.se are provided exclusively on the basis of these General Terms and Conditions. Any general terms and conditions of the user shall expressly not form part of the agreement, even if So.se does not expressly object to their applicability.
1.4   These General Terms and Conditions are displayed when downloading each Game, within the Game, on the company website and the Game-specific websites.

2   Conclusion of contract, term, termination
2.1   The user confirms to have full legal capacity and, in the case of restricted legal capacity, to have obtained the consent of his/her legal guardian.
2.2   The contract for the use of the Game is concluded by accessing the Game from the school website. The download creates a contract between the user and So.se for the free use of the respective Game. The corresponding license and usage agreement on the basis of these General Terms and Conditions is concluded for an indefinite period of time and may be terminated by either party at any time, subject to Section 2.3, without specifying any reasons by providing notice of four weeks.
2.3 So.se continuously updates, changes and adds content to the Games and Services at its own discretion. Users can therefore only participate in the game, service or other offering in its then-current form.

</textarea>
      <input class="v116_27"  type="checkbox" value="agreed" required ></div>
      <span class="v116_28">I have read and fully understand the contents of this document. I agree to the terms and conditions stated above.</span>

    </div>
  </body>
</html>
