<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="/static/css/survey.css" rel="stylesheet" />
    <title>Survey</title>
  </head>
  <body>
    <div class="v116_24"> <img class = logo_img src="/static/images/logo_topbar.png"> </div>
    <span class="v116_25"> Socialization Survey</span>
<form class  = 'myForm'>
    <ol id="survey1" class="survey">
  <li class="question" title="Prophecy">I feel like I am a wonderful person.</li>
  <li class="question" title="Shepherd">I know myself well.</li>
  <li class="question" title="Teaching">I know what I am good at and what I am not good at.</li>
  <li class="question" title="Encouraging">Although getting overwhelmed by bad feelings and suffering for a long time, I tend not to blame myself.</li>
  <li class="question" title="Giving">When setting a goal, I tend not to be shaken by external circumstances and proceed well.</li>
  <li class="question" title="Mercy">In a conflict situation, I do not lose my temper and try to resolve it through conversation with others.</li>
  <li class="question" title="Evangelism">I tend to quickly notice that someone is awkward or uncomfortable when a group is together.</li>
  <li class="question" title="Administration">Friends usually talk about their problems, saying that I understand them very well.</li>
  <li class="question" title="Serving">My heart hurts when I see people suffering in a news show.</li>
  <li class="question" title="Prophecy">I can easily talk to a friend whom I meet for the first time.</li>
  <li class="question" title="Shepherd">It's not difficult to be in a situation or place with a lot of people.</li>
  <li class="question" title="Teaching">I can clearly express my thoughts or feelings.</li>
  <li class="question" title="Encouraging">I am active/enthusiastic in a group work environment.</li>
  <li class="question" title="Giving">I prefer to do things right away.</li>
  <li class="question" title="Mercy">I tend to set goals for myself and try my best to achieve.</li>
</ol>
</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://codepen.io/username/pen/aBcDef"></script>
<script src="/static/js/survey.js"></script>
</body>
</html>
