<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
  <link href="/static/css/themeslt.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v116_1557">
    <div class="v233_1"></div>
    <div class="v233_2"></div>
    <div class="v232_0" style="background-image: url('/static/images/startup.png'); background-repeat: no-repeat;  background-attachment: fixed;  background-size: 35% 70%;"></div>
    <span class="v116_1563">Start-Up</span>
    <span class="v116_1564">The game will automatically start in 5 seconds</span>
    <span class="v116_1565">Today’s Theme is...</span>
    <div class="v230_438"> <img class = logo_img src="/static/images/logo_topbar.png"> </div>
    <span class="v230_439">Theme Selection</span>
    <div class="v245_150"></div>
  </div>
  <script>

        setTimeout(() => {  window.location.href = "/video";}, 5000);
  </script>
</body>
</html>
